<!DOCTYPE html>
<html>
<head>
<title>评论管理</title>
<meta name="content-type" content="text/html; charset=UTF-8">
<script type="text/javascript" charset="UTF-8" src="../../../easyui/jquery.min.js"></script>
<link rel="stylesheet" id="easyuiTheme" href="../../../easyui/themes/default/easyui.css" type="text/css"></link>
<link rel="stylesheet" id="easyuiTheme" href="../../../easyui/themes/icon.css" type="text/css"></link>
<script type="text/javascript" src="../../../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<link rel="stylesheet" href="../../../style/syExtIcon.css" type="text/css"></link>
<link rel="stylesheet" href="../../../style/syExtCss.css" type="text/css"></link>
<script type="text/javascript" src="../../../js/ExtEasyui.js"></script>
<script type="text/javascript" src="../../../js/Extjs.js"></script>
<script type="text/javascript" src="../../../adminjs/comments.js"></script>
</head>

<body>
<div class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'center',border:false,title:'评论列表'" style="overflow: hidden;">
		<table id="comments_datagrid"></table>
	</div>
</div>

<div id="comments_menu" class="easyui-menu" style="width: 120px;display: none;">
<div onclick="commentsAdd()" iconCls="icon-add">增加</div>
<div onclick="commentsEdit()" iconCls="icon-edit">编辑</div>
<div onclick="commentsDelete()" iconCls="icon-remove">删除</div>
</div>
</body>
</html>