<!DOCTYPE html>
<html>
<head>
    <title>菜单管理</title>
    <meta name="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" charset="UTF-8" src="../../../easyui/jquery.min.js"></script>
<link rel="stylesheet" id="easyuiTheme" href="../../../easyui/themes/default/easyui.css" type="text/css"></link>
<link rel="stylesheet" id="easyuiTheme" href="../../../easyui/themes/icon.css" type="text/css"></link>
<script type="text/javascript" src="../../../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>

<link rel="stylesheet" href="../../../style/syExtIcon.css" type="text/css"></link>
<link rel="stylesheet" href="../../../style/syExtCss.css" type="text/css"></link>
<script type="text/javascript" src="../../../js/ExtEasyui.js"></script>
<script type="text/javascript" src="../../../js/Extjs.js"></script>
<script type="text/javascript" src="../../../adminjs/menu.js"></script>

</head>

<body>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        <table id="menu_treeGrid"></table>
    </div>
</div>
<div id="menu_menu" class="easyui-menu" style="width: 120px; display: none;">
    <div onclick="addMenuFun('p');" data-options="iconCls:'icon-mini-add'">增加子节点</div>
    <div onclick="addMenuFun('c');" data-options="iconCls:'icon-mini-add'">增加同级节点</div>
    <div onclick="editMenuFun();" data-options="iconCls:'icon-mini-edit'">编辑</div>
    <div onclick="deleteMenuFun();" data-options="iconCls:'icon-cancel'">删除</div>
</div>
</body>
</html>