<!DOCTYPE html>
<html>
<head>
    <title>文章管理</title>
    <meta name="content-type" content="text/html; charset=UTF-8"> <script type="text/javascript" charset="UTF-8" src="../../../easyui/jquery.min.js"></script>
<link rel="stylesheet" id="easyuiTheme" href="../../../easyui/themes/default/easyui.css" type="text/css"></link>
<link rel="stylesheet" id="easyuiTheme" href="../../../easyui/themes/icon.css" type="text/css"></link>
<script type="text/javascript" src="../../../easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>

<link rel="stylesheet" href="../../../style/syExtIcon.css" type="text/css"></link>
<link rel="stylesheet" href="../../../style/syExtCss.css" type="text/css"></link>
<script type="text/javascript" src="../../../js/ExtEasyui.js"></script>
<script type="text/javascript" src="../../../js/Extjs.js"></script>
<script type="text/javascript" src="../../../adminjs/post.js"></script>
</head>
<body>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false,title:'文章列表'" style="overflow: hidden;">
        <table id="posts_datagrid"></table>
    </div>
</div>

<div id="posts_menu" class="easyui-menu" style="width: 120px;display: none;">
    <div onclick="userAdd()" iconCls="icon-add">增加</div>
    <div onclick="userEdit()" iconCls="icon-edit">编辑</div>
    <div onclick="userDelete()" iconCls="icon-remove">删除</div>
    <div onclick="userShowUpload()" iconCls="icon-edit">首图</div>
</div>

</body>
</html>