<!DOCTYPE html>
<html>
<head>
<title>爱威尔-关于本站</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform ">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="weir">
<meta name="description" content="爱是行动的唯一标准。爱自己爱的人，做自己喜欢的事情。java技术博客。爱威尔-关于本站">
<meta name="keywords"
	content="java,spring,spring mvc,hibernate,jpa,strtus2,activiti,easyui,hadoop,spring data jpa">
<meta name="author" content="weir">

<!--[if lte IE 8]><script>window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
<link rel="Bookmark" href="/style/weir-min.jpeg">
<link rel="shortcut icon" href="/style/weir-min.jpeg">

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/bootstrap/dmeng-2.0.9.css" rel="stylesheet" />
</head>

<body>
<header id="masthead" itemscope="" itemtype="http://schema.org/WPHeader"
	style="height: 146px;">
	<div class="container header-content">
		<div class="row">
			<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
				<div class="header-logo">
					<a href="http://www.loveweir.com" rel="home"><img
						src="/style/weir.png" width="64"
						height="64" alt="爱威尔"></a>
				</div>
				<div class="header-text">
					<div class="name">
						<a href="http://www.loveweir.com" rel="home" id="name" alt="爱威尔">爱威尔</a>
					</div>
					<div class="description" id="desc">爱是行动的唯一标准</div>
				</div>
			</div>  
			<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
				<div class="header-profile">
					<ul class="user-profile clearfix">
						<li class="date">今天是 <strong id="now_date"></strong></li>
						<li class="login clearfix">
								<div id="wb_connect_btn"></div>
								</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-default navbar-static-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".header-navbar-collapse">
					<span class="sr-only">切换菜单</span><span class="icon-bar"></span><span
						class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://www.loveweir.com" rel="home" itemprop="headline" alt="爱威尔"><h1>爱威尔</h1></a>
			</div>

			<nav id="navbar"
				class="collapse navbar-collapse header-navbar-collapse"
				role="navigation" itemscope=""
				itemtype="http://schema.org/SiteNavigationElement">
				<ul class="nav navbar-nav">
					<li><a href="http://www.loveweir.com" itemprop="url" alt="爱威尔-首页">首页</a></li>

					<li><a href="/weir"
						itemprop="url" alt="爱威尔-生活"><span class="glyphicon glyphicon-heart"></span>
							生活</a></li>
					<li><a href="/java"
						itemprop="url" alt="爱威尔-java技术"><span class="glyphicon glyphicon-star"></span>
							java技术</a></li>
					<li><a href="/photos"
						itemprop="url" alt="爱威尔-相册" target="_blank"><span class="glyphicon glyphicon-camera"></span>
							相册</a></li>
					<li><a href="/videos"
						itemprop="url" alt="爱威尔-视频" target="_blank"><span class="glyphicon glyphicon-film"></span>
							视频</a></li>
					<li><a href="/me" itemprop="url" alt="爱威尔-个人经验" target="_blank">
					        <span class="glyphicon glyphicon-user"></span>个人经验</a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/about" itemprop="url" alt="爱威尔-关于本站">关于本站</a></li>
				</ul>
			</nav>
			<!-- #navbar -->
		</div>
	</div>
</header>
<div id="main" class="container">
<div class="row">

<div id="content" class="col-lg-8 col-md-8 archive" role="main" itemscope="" itemprop="mainContentOfPage" itemtype="http://schema.org/Blog">
	<div class="panel panel-default panel-archive" role="main">
		<div class="panel-body">
			<h4 class="text-danger">关于信仰</h4>
			信仰是心灵的产物，不是宗教或政党的产物。宗教或政党只起了催化剂的作用。没有宗教和政党，人同样可以拥有信仰。<br>
			我觉得这句话说得好。这个世界的信仰很多，也许人人都不一样，如同宗教一样有很多人信奉，也许这正是人可悲与无奈的地方。<br>
			人除了活下去更多的时候要思考为什么活着。你可以整天忙碌但你不能因为忙碌而停止思考，更不能因为身体的疲惫而不顾灵魂的空虚。<br>
			也许我们人类和低等动物的区别就在于万物创造了我们同时给了我们灵魂，不知道是人类的悲哀还是人类的高级。<br>
			但我们必须承认的是你有了无与伦比的智慧，我们没有理由浪费这种天赋。<br>
			我们的使命就是要给这个世界留下美好的回忆。<br>
			这就是我们的信仰，你觉得有价值有意义的事情，跟宗教无关跟政客无关，只跟自己的心灵有关，只跟人类的灵魂有关。<br>
			爱是行动的唯一标准标准。爱自己爱的人，做自己喜欢做的事请。<br>
			<h4 class="text-success">关于态度</h4>
			当你慢慢长大你会发现一个人的态度直接就反映了这个人的风格。<br>
			一个人的无知，迂腐，懦弱，愚昧，理性，智慧，博学等等无不从一个人的态度中体现的淋漓尽致。<br>
			每个人都对这个社会这个世界有自己认识，并从中认识自己，看待自己，同样也认识别人看待别人。<br>
			无论你身在何处都不要忘记你对这个社会这个世界的态度，你要随时做好表态的准备，为社会的进步为世界的美好。<br>
			做一个有态度且独立的人。<br>
			<h4 class="text-info">关于本人</h4>
			网名：weir(威尔)，英文名：weir。<br>
			QQ:634623907 微信：weirweiwei<br>
			作为一个软件开发人员，这是我的职业(专业)。<br>
			一个人迷茫总是伴随着成长慢慢的消失，最后变成喜悦或遗憾。<br>
			我只希望遗憾少一点，那怕迷茫长一点。<br>
		</div>
	</div>
	</div>
	<!-- #content -->
<div id="sidebar" class="col-lg-4 col-md-4" role="complementary"
	itemscope="" itemtype="http://schema.org/WPSideBar">

	<aside id="search-2" class="widget clearfix widget_search">
		<form class="input-group" role="search" method="get" id="searchform"
			action="/search">
			<span class="input-group-addon">搜索</span> <input type="text"
				class="form-control" placeholder="请输入检索关键词 &hellip;" name="keyWord" id="keyWord"
				required> <span class="input-group-btn"><button
					type="submit" class="btn btn-default" id="searchsubmit">
					<span class="glyphicon glyphicon-search"></span>
				</button></span>
		</form>
	</aside>

	<aside id="text-3"
		class="panel panel-default widget clearfix widget_text">
		<div class="panel panel-success">
						<div class="panel-heading">
						
						<h3 class="widget-title">公告</h3>
						</div>
						</div>
		
		<div class="textwidget">
			<p class="text-danger">
			这是最好的时代，这是最坏的时代；<br>
			这是智慧的年代，这是愚蠢的年代；<br>
			这是信仰的时期，这是怀疑的时期；<br>
			这是光明的季节，这是黑暗的季节；<br>
			这是希望之春，这是绝望之冬；<br>
			我们拥有一切，我们一无所有；<br>
			我们正走向天堂，我们都在奔向与其相反的地方。<br>
                          ——狄更斯 《双城记》</p>

		</div>
	</aside>
	
	<aside id="recent-posts-2"
		class="panel panel-default widget clearfix widget_recent_entries">
		<div class="panel panel-info">
						<div class="panel-heading">
						<h3 class="widget-title">最新文章</h3>
						</div>
						</div>
		
		<ul>
		    {#for posts in indexVo.rightNews}
			    <li><a href="/view/{posts.id}" title="{posts.postTitle}">{posts.postTitle}</a></li>
			{/for}
		</ul>
	</aside>
	<aside id="accordion-dmengrank-2" class="panel-group">
		
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion-dmengrank-2"
						href="http://www.dmeng.net/about/#view-dmengrank-2"><span
						class="glyphicon glyphicon-fire"></span> 浏览次数排行</a>
				</h3>
			</div>
			<div id="view-dmengrank-2" class="panel-collapse collapse in">
			{#for posts in indexVo.rightReads}
				<li class="list-group-item"><span class="badge"
					title="{posts.readNum}次浏览">{posts.readNum}</span> 
					<a href="/view/{posts.id}" title="{posts.postTitle}">{posts.postTitle}</a></li>
			{/for}
			</div>
		</div>
	</aside>
	
	<aside id="text-6"
		class="panel panel-default widget clearfix widget_text"
		data-offset-top="1196"
		style="width: 360px; position: static; top: 0px;">
		<div class="textwidget">
			<div class="well">
				<p style="font-size:32px;margin:15px 0 25px 0;color:#31708f;">爱威尔</p>
				<p>学习交流，加微信进群，微信：weirweiwei</p>
			</div>
			
		</div>
	</aside>
</div>
</div>
</div>
	
	<script>
		window._bd_share_config = {
			"common" : {
				"bdSnsKey" : {},
				"bdText" : "",
				"bdMini" : "2",
				"bdMiniList" : false,
				"bdPic" : "",
				"bdStyle" : "0",
				"bdSize" : "16"
			},
			"slide" : {
				"type" : "slide",
				"bdImg" : "4",
				"bdPos" : "left",
				"bdTop" : "89.5"
			},
			"image" : {
				"viewList" : [ "qzone", "tsina", "tqq", "renren", "weixin" ],
				"viewText" : "",
				"viewSize" : "24"
			},
			"selectShare" : {
				"bdContainerClass" : null,
				"bdSelectMiniList" : [ "qzone", "tsina", "tqq", "renren",
						"weixin" ]
			}
		};
		with (document)
			0[(getElementsByTagName('head')[0] || body)
					.appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
					+ ~(-new Date() / 36e5)];
	</script>


<footer id="colophon" class="container" role="contentinfo" itemscope=""
	itemtype="http://schema.org/WPFooter">
	<div class="panel panel-default text-muted">
		<div class="panel-footer clearfix">
			© 2014-<span id="shuoming_next"></span>
			@weir 版权所有<a href="https://beian.miit.gov.cn" target="_blank">豫ICP备2021013020号-1</a>
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253989825'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253989825%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
			<a id="pinganVerify"></a>
		</div>
	</div>
</footer>
<div class="btn-group-vertical floatButton">
	<button type="button" class="btn btn-default" id="goTop" title="去顶部">
		<span class="glyphicon glyphicon-arrow-up"></span>
	</button>
	<button type="button" class="btn btn-default" id="refresh" title="刷新">
		<span class="glyphicon glyphicon-repeat"></span>
	</button>
	<button type="button" class="btn btn-default" id="pageQrcode" title="作者二维码">
	<span class="glyphicon glyphicon-qrcode"></span>
	<img class="qrcode" src="/images/weirweiwei.png" height="130" width="130"></button>
	<button type="button" class="btn btn-default" id="goBottom" title="去底部">
		<span class="glyphicon glyphicon-arrow-down"></span>
	</button>
</div>


<script src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="http://apply.trustutn.org/show?type=2&sn=994150615014811110048"></script>
<script type="text/javascript" src="/js/blog/footer.js"></script>
</body>
</html>
