<!DOCTYPE html>
<html>
<head>
<title>爱威尔--个人经验-web简历</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform ">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="weir">
<meta name="description" content="爱是行动的唯一标准。爱自己爱的人，做自己喜欢的事情。java技术博客。爱威尔-个人经验">
<meta name="keywords" content="java技术博客。爱威尔-个人经验-web简历">
<meta name="author" content="weir">

<!--[if lte IE 8]><script>window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;</script><![endif]-->
<link rel="Bookmark" href="/style/weir-min.jpeg">
<link rel="shortcut icon" href="/style/weir-min.jpeg">

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />
<link href="/css/font-awesome.min.css" rel="stylesheet" />

<link href='/css/css.css' rel='stylesheet' type='text/css'/>
<link href='/css/css1.css' rel='stylesheet' type='text/css'/>

<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/demoad.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="关于本人"><i class="glyphicon glyphicon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="简历"><i class="glyphicon glyphicon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="作品"><i class="glyphicon glyphicon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="联系"><i class="glyphicon glyphicon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->
					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>weir.威尔</h1>
					<h3>java软件工程师 | 634623907@qq.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>关于本人</h5>
				</div>
				<div class="col-lg-6">
					<p>岁月蹉跎，时光流逝。慢慢地发现自己是那么的平凡，想想年少轻狂，再听听别人的故事，却发现一样的平凡。
曾经的自己是多么讨厌平凡的生活，如今你我不还是一样，曾经的自己是多么的壮志成成，面对现实一事无成。
有人看到这里也许会有同感也许会发笑，自己的感受也是一样，茫茫人海中却显得孤独依然。
每个人都有欲望，或大或小，每个人都可以活的潇潇洒洒，豁达开朗，因人而异。
所以在岁月的长河中，在时间的一分一秒流逝中，我只想努力的争取让自己变得比以往更喜欢自己。
希望与君共勉。
最后说一下我一直是一名软件开发从业者之中的小学生，一直徘徊在学习在学习的过程中，孜孜不倦，不论能力有多少，我希望自己是坚持的那一个。</p>
				</div>
				<div class="col-lg-3">
					<p><a href="#"><i class="glyphicon glyphicon-file"></i></a> <sm>下载简历</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>教育</h5>
				</div>
				<div class="col-lg-6">
					<p><t>计算机科学与技术(软件方向)</t><br/>
						河南财经学院成功学院 <br/>
						<i>4年本科</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2010年7月毕业</sm><br/>
					<imp><sm>时间飞逝</sm></imp>
					</p>
				</div>
	
				<!-- <div class="col-lg-6 col-lg-offset-3">
					<p><t>Degree of Web Developer</t><br/>
						Hastings University <br/>
						<i>2 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUNE 2012</sm></p>
				</div> -->
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>工作经验</h5>
				</div>
				<div class="col-lg-6">
					<p><t>IT部们主任</t><br/>
						慧联（惠阳）织造厂有限公司 <br/>
					</p>
					<p><more>fms人事考勤财务集成管理系统<br/>
用到的技术框架有spring,struts2,jpa(hibernate)为主框架，系统里面用到的技术有报表jasperreports，
 定时任务quartz，图表jfreechart，模版技术velocity，邮件发送等，前端jsp ，el表达式，jquery等，数据库有db2和server2000。<br/>
fms系统模块有用户权限系统，人事系统，考勤系统（包括B帐审厂系统），财务系统，饭堂系统，宿舍系统集成组成。<br/>
用户权限包括用户信息管理，权限管理，角色管理等。<br/>
人事系统有基本数据管理（厂区，部门，职位，合同，辞职类型，工种等），人事资料的增删改查，人事调动，打印厂牌，合同管理，指纹管理等模块组成。<br/>
考勤系统有基本数据（请假类型，出差类型，加班类型，节假日等），员工排版管理，打卡原始数据，
考勤计算及报表，考勤异常，考勤加锁解锁， 出差管理，请假管理，调休管理，加班条管理，日常统计报表，员工原始打卡数据的每天定时任务等。<br/>
财务系统有工资计算，工资报表，数据导入，工资锁定，员工月工作天数统计，公司人员图表等。<br/>
饭堂及宿舍系统主要有报餐人员，员工就餐统计，报表导入导出，宿舍信息录入，宿舍报表统计及导入导出，家属信息登记及打印家属证，宿舍平面图展示等功能组成。<br/>

Q2c erp系统<br/>
毛织行业erp系统，用到的技术框架有spring，struts2，hibernate为主框架，数据库为db2。<br/>
系统分为前后台，后台为基础数据包括用户信息，权限，角色，系统基础数据单位，地区，工序，生产，仓库，尺码等等。<br/>
前台有毛料采购管理，预收清单管理，发票管理，库存管理，发织管理，生产管理等。<br/>
里面涉及很深的行业业务知识，所以业务处理比较复杂，各个模块之间关联性大。<br/>
</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2010.04 - 2014.09</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>IT软件工程师</t><br/>
						广东九联科技股份有限公司 <br/>
					</p>
					<p><more>开发供应商管理系统，涉及物料统计计算，实时获取库存数量，物料采购，反馈到供应商，与供应商连动，评估供应商等。<br/>
					结合内部金蝶软件扩展开发，物料统计，采购流程，scm供应链管理系统 。<br/>
用到的技术是（spring+spring mvc+jpa），后台前端框架easyUI，多数据源处理，收获最大的是里面的计划排程用easyUI展示处理，当时对easyUI进行深入封装达到几百上千的数据表格展示。
					</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014.10 - 2015.06</sm></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>java研发软件工程师</t><br/>
						广东立沃集团有限公司 <br/>
					</p>
					<p><more>政府部门应急值守系统的架构设置以及主要模块开发工作，目前项目已上线 。<br/>
技术栈是（spring+spring mvc+jpa），前端用bootstrap封装了一个后台展示架构，对bootstrap各个组件封装，初步实现可触摸式操作。<br/>
封装实现对电话系统的集成（js实现），通过系统拨号，接电话，录音等，整合百度地图实现应急物资设备人员的可视化查询搜索和范围定位等，应急指挥的预案预警常规工作等一些复杂流程。</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2015.07-2016.06</sm></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>高级java研发软件工程师</t><br/>
						奥若拉互联网产业集群昆明公司 <br/>
					</p>
					<p><more>开发公司内部oa架构设计，前期开发后期开发和后面项目上线。<br/>
erp采购财务系统，物料采购流程，物料BOM计算到仓储，上线。<br/>
公司电商品台分布式架构模块化开发，基于dubbo，zookeeper，fasfdfs等架构，项目持续集成构建（svn+nexus+hudson）等，完成70%。<br/>
公司电商平台奥特卖（B2C）电商项目，电商购物完整流程（重点实现订单和支付流程的开发实现），还有限时特卖，秒下活动等，项目现已上线。 <br/>
公司内部分红支付宝转账小项目上线正式运行。<br/>
技术栈基本是（spring+spring mvc+mybatis-plus）为主，后台管理界面使用easyUI。<br/>
担任公司项目架构设计角色，下属人员5人</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2016.10-2018-02</sm></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>高级java研发软件工程师</t><br/>
						路行通 <br/>
					</p>
					<p><more>负责公司车辆网B端saas平台研发工作，架构spring cloud</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2018.04-至今</sm></p>
				</div>
		</div><!--/.row -->
		<br>
	</div><!--/.container -->


	<!--AWARDS DESCRIPTION -->
	<!-- <div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>AWARDS</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Best Web Design</t><br/>
						Black Tie Site <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>NOVEMBER 2013</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Designer of the Year</t><br/>
						Awwwards Site
					</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2013</sm></p>
				</div>
		
		</div>
		<br>
	</div> -->
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>专业技能</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p title="spring strtus2 hibernate jpa spring mvc mybatis等">j2ee(ss2hjmsmvc)</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>jquery eaasyui</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>activiti5</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>soa swebservice cxf</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130"></canvas>
						<p>osgi</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="illustrator" height="130" width="130"></canvas>
						<p>hadoop+hbase</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="architect" height="130" width="130"></canvas>
						<p>架构师</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("architect").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="database" height="130" width="130"></canvas>
						<p>数据库</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("database").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-6">
					<p><img class="img-responsive" src="/images/kugoushopping.png" alt="酷购网"></p>
				</div>
				<div class="col-lg-3">
					<p>酷购网</p>
				<p><more>该项目设计是基于B2C的电子商务模式，能够满足大型企业的在线商品交易平台，满足企业在平台上发布商品及资讯，用户可以在此平台上购买并参与商品的评价。
				系统实现模块有：后台的产品管理、订单管理、部门和权限管理、员工管理、网站用户管理等模块，前台的用户的登录注册、产品展示、购物车、订单信息和商品查询等模块。<br/><br/>
					<sm><i class="icon-tag"></i> java web</sm></more> 
				</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="/images/paascloud.jpg" alt="paas云架构"></p>
				</div>
				<div class="col-lg-3">
						<p>paas云企业管理系统</p>
					<p><more>整个项目架构基于spring DM(spring实现的osgi)与Virgo-tomcat之上，由hibernate做数据库交互，独立开发的工作流中间件，通过工作流的核心与大型企业管理云的架构设计，
					运用OSGI、SOA技术，实现了微内核、插件式结构，保证了无限的扩展性和热维护升级。<br/><br/>
						<sm><i class="icon-tag"></i> 企业云</sm></more> 
					</p>
				</div>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="/images/activiti5.gif" alt="activiti5工作流"></p>
				</div>
				<div class="col-lg-3">
						<p>基于activiti5+spring-data-jpa+jquery easyui+spring mvc的企业协同OA办公系统</p>
					<p><more>在工作流方面，使用的是Activiti工作流，该工作流功能强大，开发简单，可以说是中小型OA开发的利器。
					在持久化框架方面，课程中采用了Spring-data-jpa来完成，spring-data-jpa是spring组织提供的，
					针对于jpa规范的一套持久化框架，所有的查询均使用方法命名规则去解析，开发人员只需要定义接口的方法而不需要写任何一句实现代码。
					后台管理使用jquery easyui让系统更具桌面效果。<br/><br/>
						<sm><i class="icon-tag"></i> java web</sm></more> 
					</p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="/images/hadoop+hbaseSkyDrive.jpg" alt="hadoop+hbase网盘"></p>
				</div>
				<div class="col-lg-3">
						<p>hadoop2.4.1+hbase0.98.3实现的分布式网盘系统初步（已开源）</p>
					<p><more>学习大数据hadoop和hbase技术，学习大数据实现原理，学习掌握其java api操作等。
                                                                         项目详情介绍：<a href="http://www.loveweir.com/posts/view/14" target="_blank">hadoop2.4.1+hbase0.98.3实现的分布式网盘系统</a><br/><br/>
						<sm><i class="icon-tag"></i> hadoop hbase</sm></more> 
					</p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="/images/architect(Nginx+Varnish+Memcache+ActiveMQ+MongoDB+MogileFS).png" alt="高可扩展性高性能大数据量高并发分布式的系统架构（Nginx+Varnish+Memcache+ActiveMQ+MongoDB+MogileFS）"></p>
				</div>
				<div class="col-lg-3">
						<p>高可扩展性、高性能、大数据量、高并发、分布式的系统架构</p>
					<p><more>项目目前正在学习中，学习周期很长，知识点技术点繁多，需要长时间学习积累实践才能真正掌握，如果有此类项目需求，我非常乐意参与其中。
					        博客也不定期的更新学习成果和分享学习心得，希望与志同道合以及架构师的高手请教学习交流。<br/><br/>
						<sm><i class="icon-tag"></i> 架构师</sm></more> 
					</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>联系</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						634623907@qq.com <br/>
					</p>
					<p><t>地址</t><br/>
						四川 成都 <br/>
					</p>
					<p><t>手机</t><br/>
						18218066985 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>社交联络</sm></p>
					<p>
					<i>qq:634623907</i>
					<i>新浪微博:weirweiwei</i>
					<i>微信:weirweiwei</i>

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<p>© 2014-<span id="shuoming_next"></span>
			@weir 版权所有<a href="https://beian.miit.gov.cn" target="_blank">豫ICP备2021013020号-1</a>
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253989825'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1253989825%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
			Created by <a href="http://www.loveweir.com" target="_blank">loveweir.com</a>
			<a id="pinganVerify"></a>
			</p>
		
		</div>
	</div>
<script type="text/javascript" src="http://apply.trustutn.org/show?type=2&sn=994150615014811110048"></script>
<script type="text/javascript" src="/js/blog/footer.js"></script>
</body>
</html>
