<!DOCTYPE html>
<html>
<head>
<title>爱威尔-图片</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform ">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="weir">
<meta name="description" content="爱是行动的唯一标准。爱自己爱的人，做自己喜欢的事情。java技术博客。爱威尔-图片">
<meta name="keywords"
	content="java,spring,spring mvc,hibernate,jpa,strtus2,activiti,easyui,hadoop,spring data jpa">
<meta name="author" content="weir">
<link rel="Bookmark" href="/style/weir-min.jpeg">
<link rel="shortcut icon" href="/style/weir-min.jpeg">

</head>
<body>
<script type="text/javascript">
	if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
		window.location.href = '/photo/viewPhone/{photo.id}';
	} else {
		window.location.href = '/photo/view/{photo.id}';
	}
</script>
</body>
</html>